__pycache__/
*.py[cod]
.Python
.venv/
venv/
env/

# Lokale Massendaten (Ordnerstruktur bleibt über .gitkeep)
input/gpkg_filtered/*.gpkg
input/grundkarte_liegenschaftskataster/gpkg_filtered/*.gpkg
input/gpkg_raw/*.gpkg
input/lod1/*.gml
input/zensus_baualtersklassen/*.csv
input/zensus_baualtersklassen/*.gpkg
output/*
!output/.gitkeep
!output/output_step1/
!output/output_step2/
!output/output_step3/
!output/output_step4/
output/output_step1/*
!output/output_step1/.gitkeep
output/output_step2/*
!output/output_step2/.gitkeep
output/output_step3/*
!output/output_step3/.gitkeep
output/output_step4/*
!output/output_step4/.gitkeep
output/output_step5/*
!output/output_step5/.gitkeep
